{% load static %}
<!-- モーダル全体 -->
<div id="createMemberModal" class="fixed inset-0 z-50">
  <!-- hiddenをつけない！1つ目のモーダルと入れ替え時に表示させるため -->

  <!-- 背景 -->
  <div class="modal-bg absolute inset-0 bg-black/50 flex items-center justify-center">

    <!-- 本体 -->
    <div class="modal-content bg-white rounded-lg shadow-xl w-full max-w-[480px] p-10 relative text-xl">

      <!-- 閉じる -->
      <button type="button"
        class="modal-close absolute top-4 right-4 text-gray-400 text-4xl hover:text-gray-600">
        ×
      </button>

      <!-- ===== フォーム ===== -->
      <form
        method="POST"
        hx-post="{% url 'accounts:create_member' %}"
        hx-target="#createMemberModal"
        hx-swap="outerHTML"
        >
        {% csrf_token %}
        <!-- hx-post(hx-get)：送信または取得先のURL（エンドポイント）を指定 -->
        <!-- hx-target：renderされたHTMLを入れ替える場所を指定（外枠となるモーダル枠ID） -->
        <!-- hx-swap="outerHTML"はターゲットを箱ごと入れ替える　innerHTMLで箱は残して中身だけ入れ替えも可能 -->

        <div class="space-y-8 pt-6">

          <!-- 名前 -->
          <div>
            <label class="block font-medium mb-2">アカウント名</label>
            <input type="text"
              name="name"
              class="w-full border border-gray-400 rounded-lg p-3"
              required>
          </div>

          <!-- 社員ID -->
          <div>
            <label class="block font-medium mb-2">社員ID</label>
            <input type="text"
              name="employee_id"
              maxlength="15"
              pattern="^[A-Za-z0-9]{1,15}$"
              class="w-full border border-gray-400 rounded-lg p-3"
              required>
          </div>

          <!-- チーム -->
          <div>
            <label class="block font-medium mb-2">チーム</label>

            <details class="group border border-gray-400 rounded-lg overflow-hidden">
              <summary
                class="flex justify-between items-center py-3 px-3 cursor-pointer
                      bg-white hover:bg-gray-50">
                <span class="text-gray-500">チームを選択してください</span>
                <svg class="ml-1 w-4 h-4 transition-transform duration-200 group-open:rotate-180"
                  fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </summary>

              <div class="p-3 border-t border-gray-100 max-h-40 overflow-y-auto space-y-2">

                {% if teams %}
                  {% for team in teams %}
                  <label class="flex items-center gap-2 p-2 rounded cursor-pointer">
                    <input type="checkbox"
                      name="teams"
                      value="{{ team.id }}"
                      class="w-5 h-5 border border-gray-400 appearance-none
                             rounded-full checked:bg-teamy-orange cursor-pointer">
                    <span>{{ team.name }}</span>
                  </label>
                  {% endfor %}
                {% endif %}

              </div>
            </details>
          </div>

          <!-- 管理者トグル -->
          {% if user.is_owner %}
          <div class="flex items-center justify-around py-2">
            <span class="font-medium">管理者にする</span>

            <label class="relative inline-flex items-center cursor-pointer">
              <input type="checkbox" name="is_admin" class="sr-only peer">
              <div
                class="w-14 h-7 bg-gray-200 rounded-full peer
                  peer-checked:after:translate-x-full
                  after:content-[''] after:absolute after:top-[2px] after:left-[2px]
                  after:bg-white after:border after:rounded-full after:h-6 after:w-6
                  after:transition-all peer-checked:bg-teamy-orange">
              </div>
            </label>
          </div>
          {% endif %}

          <!-- 作成ボタン -->
          <div class="flex justify-center pt-6">
            <button type="submit"
            class="bg-teamy-orange hover:bg-teamy-orangeDark text-white font-medium
                  py-3 px-16 rounded-full transition-transform shadow-md 
                  hover:scale-[1.03] hover:shadow-md active:scale-[0.98]">
              作成
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
