{% load static %}

<!-- モーダル全体 -->
<!-- <div id="deleteMemberModal" class="fixed inset-0 z-50"> -->
<div id="deleteMemberModal" class="fixed hidden inset-0 z-50">
  <!-- モーダル背景 -->
  <div class="modal-bg absolute inset-0 bg-black/50 flex items-center justify-center">

    <!-- モーダル本体 -->
    <div class="modal-content flex flex-col items-center justify-center bg-white rounded-lg shadow-xl w-full max-w-[480px] min-h-[640px] p-10 relative text-xl">

      <!-- 閉じるボタン -->
      <button type="button"
        class="modal-close absolute top-4 right-4 text-gray-400 text-4xl hover:text-gray-600">×</button>

        <!-- ======== 本体 ======== -->
        <form method="POST" action="{% url 'accounts:delete_member' %}">
          {% csrf_token %}
          <div class="flex flex-col items-center w-full p-10 gap-10">
            <span class="text-2xl font-medium">このユーザーを<br>削除しますか？</span>
            <div class="flex justify-center bg-teamy-grayLight rounded-md shadow-md w-full p-10">
              <span id="deleteTargetText">{{ member.name }}{{ member.employee_id }}</span>
              <input type="hidden" name="pk" id="deleteTargetId">
            </div> 
          </div>

            <!-- 削除ボタン -->
            <div class="flex justify-center pt-6 gap-8">
              <button type="submit"
                class="bg-teamy-orange hover:bg-teamy-orangeDark text-white font-medium
                      py-3 px-12 rounded-full transition-transform shadow-md 
                      hover:scale-[1.03] hover:shadow-md active:scale-[0.98]">
                削除
              </button>

            <!-- キャンセルボタン -->
              <button type="button"
              class="modal-close border border-teamy-orangeDark text-teamy-orangeDark font-medium
                    py-3 px-4 rounded-full transition-transform shadow-md 
                    hover:scale-[1.03] hover:shadow-md active:scale-[0.98]">
              キャンセル
              </button>
            </div>
      </form>
    </div>
  </div>
</div>