.env

# node
node_modules/

# tailwind build
static/dist/*
!static/dist/tailwind.css

# mac
.DS_Store

staticfiles/       # collectstaticの出力先
__pycache__/.      # Pythonが.pyファイルを実行する際に自動的に作られるキャッシュファイルの入るフォルダ
# 慣習的に入れている(python2以前用)。__pycache__/の中に作られるキャッシュファイル単体のこと
*.pyc
.env.prod
