{% extends "base.html" %}
{% load static %}

{% block title %}add_space{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center gap-6 h-[calc(100vh-96px)]">
  <!-- ======== 見出し ======== -->
  <div class="w-full max-w-[720px] h-[70%] flex flex-col items-center border border-gray-100 bg-white text-xl shadow-2xl p-10">
    <h1 class="text-4xl text-teamy-navy font-extrabold">スペース編集</h1>

    <!-- ======== フォーム ======== -->
    <form method="post" class="flex flex-col p-4 h-full w-[90%] mx-auto">
      {% csrf_token %}
      {{ form.as_p }}<!-- 確認用（後ほど削除） -->

      <!-- inputs -->
      <div class="flex flex-col gap-8 py-6 flex-grow justify-around">
        <label class="flex flex-row items-center gap-4">
          <span class="flex-[1]">スペース名</span>
          <input type="text" name="name" placeholder="{{ space_name }}" class="border border-gray-400 rounded-lg p-2 flex-[2]">
          </label>

      <div class="flex flex-row items-start gap-4">
        <span class="flex-[1] pt-3">オーナー変更</span>

        <div class="flex-[2]">
          <details class="group border border-gray-400 rounded-lg overflow-hidden">
            <summary
              class="flex justify-between items-center py-3 px-3 cursor-pointer
                    bg-white hover:bg-gray-50">
              <span class="text-gray-500">オーナーを選択してください</span>

              <svg class="ml-1 w-4 h-4 transition-transform duration-200 group-open:rotate-180"
                  fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 9l-7 7-7-7"></path>
              </svg>
            </summary>

            <div class="p-3 border-t border-gray-100 max-h-40 overflow-y-auto space-y-2">
              {# {% for member in members %} #}
              <label class="flex items-center justify-between gap-2 p-2 rounded cursor-pointer hover:bg-gray-50">
                <span>{{ member.name }}（{{ member.employee_id }}）</span>

                <input
                  type="radio"
                  name="owner_id"
                  value="{{ member.id }}"
                  class="w-5 h-5 border border-gray-400 appearance-none rounded-full
                        checked:bg-teamy-orange cursor-pointer">
              </label>
              {# {% endfor %} #}
            </div>
          </details>
        </div>
      </div>

      <!-- button -->
      <div class="flex flex-col items-center gap-2 mt-6">
        <button type="submit"
          class="add-account self-center inline-block  bg-[#F1A46C] hover:bg-[#E89455] hover:scale-[1.03] active:scale-[0.98] transition-transform text-white font-medium px-6 py-2 border-gray-400 rounded-full shadow-md">
          変更する
        </button>
      </div>
    </form>
  </div>
  </div>

  <!-- オーナーアカウント削除（オーナーのみ） -->
  <div class="flex flex-col items-center gap-1">
  <span class="text-base">スペースを削除する</span>
    <div class="flex flex-col items-center gap-2 mt-auto">
      <a href="#" class="add-account self-center inline-block  bg-gray-300 hover:bg-gray-400 hover:scale-[1.03] active:scale-[0.98] transition-transform text-sm px-6 py-1 border-gray-400 rounded-full shadow-md">
    削除
      </a>
  </div>
</div>
{% endblock %}