{% extends "base.html" %}
{% load static %}

{% block title %}profile{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center h-[calc(100vh-96px)]">
  <div class="w-full max-w-[720px] flex flex-col items-center border border-gray-100 bg-white text-xl shadow-2xl p-10">
 
    <!-- ======== 説明文 ======== -->
    <div class="flex flex-col items-center justify-center p-4 h-full w-[90%] mx-auto gap-10">
      <text class="text-xl text-center font-medium text-teamy-navy p-4">
        これから、あなた自身の価値観を知るために<br>
        8つの観点からの質問をします。<br>
        <br>
        正解はありませんので、感じたままにお答えください。
      </text>

      <!-- スタートボタン -->
      <div class="flex flex-col items-center gap-2 m-4">
        <a href="{% url 'analysis:question_page' page=1 %}"
          class="add-account self-center inline-block  bg-teamy-teal hover:bg-teamy-tealDark hover:scale-[1.03] active:scale-[0.98] transition-transform text-white font-medium px-6 py-2 border-gray-400 rounded-full shadow-md">
          スタート
        </a>
      </div>

      <text class="text-sm text-center text-teamy-navy p-4">
        迷ったときは、真ん中ではなくどちらかの片端に寄った回答を心掛けると<br>
        より正確な分析結果が得られやすくなります<br>
      </text>
    </div>
  </div>
</div>
{% endblock %}