{% extends "base.html" %}
{% load static %}

{% block title %}password{% endblock %}

{% block content %}
<div class="flex justify-center items-center gap-4 h-[calc(100vh-96px)]">
  <!-- ======== 見出し ======== -->
  <div class="w-full max-w-[480px] h-[80%] flex flex-col items-center border border-gray-100 bg-white text-xl shadow-2xl p-10">
    <h1 class="text-4xl text-teamy-navy font-extrabold">パスワード変更</h1>

    <!-- ======== フォーム ======== -->
    <form method="post" class="flex flex-col p-6 h-full w-[90%] mx-auto">
      {% csrf_token %}

      <!-- ======== ID表示 ======== -->
      <div class="flex flex-col gap-2 pt-3">
        <div class="flex">
          <span class="flex-[2] font-medium">スペースコード</span>
          <span class="flex-[1]">dtm{{ request.user.space.code }}</span>
        </div>
        <div class="flex">
          <span class="flex-[2] font-medium">社員ID</span>
          <span class="flex-[1]">12345{{ request.user.employee_id }}</span>
        </div>
      </div>

      <!-- inputs -->
      <div class="flex flex-col gap-8 flex-grow justify-center">
        <label class="flex flex-col gap-1">旧パスワード
          <input type="password" name="old_password"
                 class="border border-gray-400 rounded-lg p-2" required>
        </label>

        <label class="flex flex-col gap-1">新パスワード
          <input type="password" name="new_password"
                 class="border border-gray-400 rounded-lg p-2" required>
        </label>

        <label class="flex flex-col gap-1">新パスワード（確認）
          <input type="password" name="confirm_password"
                 class="border border-gray-400 rounded-lg p-2" required>
        </label>
      </div>

      <!-- button -->
      <div class="flex flex-col items-center gap-2 mt-6">
        <button type="submit"
          class="add-account self-center inline-block bg-[#F1A46C] hover:bg-[#E89455]
                 hover:scale-[1.03] active:scale-[0.98] transition-transform
                 text-white font-medium px-6 py-2 rounded-full shadow-md">
          変更する
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
