{% extends "base.html" %}
{% load static %}

{% block title %}password{% endblock %}

{% block content %}
<div class="flex justify-center items-center gap-4 h-[calc(100vh-80px)]">
  <!-- ======== 見出し ======== -->
  <div class="w-full max-w-[480px] h-[80%] flex flex-col items-center border border-gray-100 bg-white text-xl shadow-2xl p-10">
    <h1 class="text-4xl text-teamy-navy font-extrabold">パスワード変更</h1>

    <!-- ======== フォーム ======== -->
    <form method="post" class="flex flex-col p-6 h-full w-[90%] mx-auto">
      {% csrf_token %}

      <!-- ======== ID表示 ======== -->
      <div class="flex flex-col gap-2 pt-3">
        <div class="flex">
          <span class="flex-[2] font-medium">スペースコード:</span>
          <span class="flex-[1]">{{ request.user.space.code }}</span>
        </div>
        <div class="flex">
          <span class="flex-[2] font-medium">社員ID:</span>
          <span class="flex-[1]">{{ request.user.employee_id }}</span>
        </div>
      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="flex flex-col gap-2 pt-4">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <!-- inputs -->
      <div class="flex flex-col gap-8 flex-grow justify-center">
        <label class="flex flex-col gap-1">
          {{form.old_password.label_tag}}
          {{form.old_password}}
          {{form.old_password.errors}}   
        </label>

        <label class="flex flex-col gap-1">          
          {{form.new_password1.label_tag}}
          {{form.new_password1}}
          {{form.new_password1.errors}}  
        </label>

        <label class="flex flex-col gap-1">          
          {{form.new_password2.label_tag}}
          {{form.new_password2}}
          {{form.new_password2.errors}}  
        </label>
      </div>

      <!-- button -->
      <div class="flex flex-col items-center gap-2 mt-6">
        <button type="submit"
          class="add-account self-center inline-block bg-[#F1A46C] hover:bg-[#E89455]
                 hover:scale-[1.03] active:scale-[0.98] transition-transform
                 text-white font-medium px-6 py-2 rounded-full shadow-md">
          変更する
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
