{% extends "base.html" %}
{% load static %}

{% block title %}password{% endblock %}

{% block content %}
<!-- ======== 見出し ======== -->
<div>  
  <h1>パスワード変更</h1>
</div>

<!-- ======== ID表示 ======== -->
<div>スペースコード {{ request.user.space.code }}</div>
<div>社員ID {{ request.user.employee_id }}</div>

<!-- ======== フォーム ======== -->
  <div>
    <form method="post">
      {% csrf_token %}

      <label>
        旧パスワード
        <input type="password" name="old_password" required>
      </label>

      <label>
        新パスワード
        <input type="password" name="new_password" required>
      </label>

      <label>
        新パスワード（確認）
        <input type="password" name="confirm_password" required>
      </label>

      <button type="submit">変更する</button>
    </form>
  </div>

{% endblock %}