{% extends "base.html" %}
{% load static %}

{% block title %}login{% endblock %}

{% block content %}
<div class="flex justify-center items-center gap-4 h-[calc(100vh-96px)]">
  <!-- ======== 見出し ======== -->
  <div class="w-full max-w-[480px] h-[80%] flex flex-col items-center border border-gray-100 bg-white shadow-2xl p-10">
    <h1 class="text-4xl text-teamy-navy font-extrabold">ログイン</h1>

  <!-- ======== フォーム ======== -->
    <form method="post" class="flex flex-col justify-between p-4 h-full w-[90%] mx-auto">
      {% csrf_token %}

      <div class="flex flex-col flex-grow justify-around py-6">
        <label class="flex flex-col gap-1">スペースコード
          <input type="text" name="space_code" pattern="[a-zA-Z0-9]{3}" class="border border-gray-400 rounded-lg p-2" required>
        </label>

        <label class="flex flex-col gap-1">社員ID
          <input type="text" name="employee_id" inputmode="numeric" pattern="[0-9]*" maxlength="10" class="border border-gray-400 rounded-lg p-2" required>
        </label>

        <label class="flex flex-col 
        gap-1">パスワード
          <input type="password" name="password" class="border border-gray-400 rounded-lg p-2" required>
        </label>
      </div>
      
      <div class="flex flex-col items-center gap-2 mt-auto">
        <button type="submit" class="add-account self-center inline-block  bg-[#F1A46C] hover:bg-[#E89455] hover:scale-[1.03] active:scale-[0.98] transition-transform text-white font-semibold px-6 py-2 border-gray-400 rounded-full shadow-md">
          ログイン
        </button>

        <!-- ======== サインアップ導線 ======== -->
        <div class="text-sm mt-4 text-teamy-grayDark">
            <a href="#">アカウント作成へ</a>
        </div>
      </div>
    </form>
  </div> 
{% endblock %}