{% extends "base.html" %}
{% load static %}
{% block title %}members{% endblock %}

{% block content %}
<!-- ======== top帯 ======== -->
<div class="mx-auto p-8">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold text-teamy-navy">スペース名</h1> 
    <!-- 変数：space_name にする -->

    <div class="add_member flex items-center gap-2">
    <!-- [？]ヘルプボタン -->
    <button type="button" class="btn-help">
      <img src="{% static 'imgs/help.png' %}" alt="へルプを表示" class="h-6 w-6">
    </button>

    <!-- メンバーを作成ボタン -->
    <button type="button" class="btn-addmember inline-block bg-[#F1A46C] hover:bg-[#E89455] hover:scale-[1.03] transition-transform text-white font-medium px-6 py-2 rounded-[36px]">
      ＋ メンバーを作成
    </button>
    </div>
  </div>
    
    <!-- ======== テーブル部分 ======== -->
    <div>
       <span class="inline-flex items-center gap-1"><img src="{% static 'accounts/imgs/leader.png' %}" alt="leader" class="h-6 w-6">…リーダー</span>
      <table>
        <tr>
          <th class="invisible">is_admin</th>
          <th>名前</th>
          <th>ユーザーID</th>
          <th>チーム</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>オーナー</td>
          <td>山田 太郎</td>
          <td>taro yamada</td>
          <td>Aチーム</td>
          <td>
            <img src="{% static 'accounts/imgs/edit.png' %}" alt="">
          </td>
          <td>
            <img src="{% static 'accounts/imgs/trash.png' %}" alt="">
          </td>
        </tr>
        {% comment %}
        変数準備後↓に差し替え
        {% for member in members %}
        <tr>
          <td></td>
          <td>{{ g_user_name}}</td>
          <td>{{ employee_id }}</td>
          <td>{{ g_team_name }}</td>
        </tr>
      </table>
        {% empty %}
        <div>まだメンバーは登録されていません</div>
        {% endfor %}
        {% endcomment %}
     </div>
</div>

{% endblock %}