<!-- ======== 見出し ======== -->
  <div>  
    <h1>まずは、スペースと<br>オーナーのアカウントを作りましょう</h1>
  </div>

<!-- ======== 説明文 ======== -->
 <p>
  スペースは、チームやメンバーが所属する場所です。
  会社や組織ごとに作成します。

  オーナーは、スペース全体の管理者です。
  スペースの自体の編集操作を行えます。
 </p>

<!-- ======== 画像 ======== -->
<img src="{% static 'imgs/discription_spaces.svg' %}" alt="growth">  

<!-- ======== ステップインジケーター ======== -->
<div class="step-indicator">
  <span class="step is-active">1</span>
  <span class="step">2</span>
  <span class="step">3</span>
  <span class="step">4</span>
</div>

<!-- ======== 次へボタン ======== -->
  <button type="button" class="btn-next">
    →
  </button>
