{% extends "base.html" %}
{% load static %}

{% block title %}signup{% endblock %}

{% block content %}
  <main>
  <!-- ======== 説明文 ======== -->
    <div>  
      <h1>スペースと<br>オーナーアカウントの作成</h1>
          <button type="button">
            <img src="{% static 'imgs/help.png' %}" alt="?">
          </button>
    </div>

  <!-- ======== フォーム ======== -->
    <div>
      <form method="post">
        {% csrf_token %}

        <label>
          スペース名（会社名など）
          <input type="text" name="space_name" required>
        </label>

        <label>
          スペースコード（ログイン時に必要です）
          <input type="text" name="employee_code" minlength="3" maxlength="3" required>
        </label>

        <label>
          社員ID
          <input type="number" name="employee_id" required>
        </label>

        <label>
          名前
          <input type="text" name="user_name" required>
        </label>

        <label>
          パスワード
          <input type="password" name="password" required>
        </label>

        <button type="submit">作成</button>
      </form>
    </div>

  <!-- ======== ログイン ======== -->
    <div>
      <p>text</p>
        <a href="#">Login</a>
      <!-- url login -->
    </div>

  </main>
{% endblock %}