{% extends "base.html" %}
{% load static %}

{% block title %}Top{% endblock %}

{% block content %}
<main>
    <!-- ======== ヒーローカルーセル ======== -->
     <section>
      <article>
        <h1>コミュニケーションを<br>もっとスムーズに</h1>
          <p>
            Teamyは自分と相手（チーム）の価値観の違いを見える化し、
            コミュニケーションの最適解を教えてくれるアプリです。
          </p>
        <img src="{% static 'imgs/growth.png' %}" alt="growth">  
      </article>

      {% comment %}
      モーダル作成完了まで2-3スライド目はコメントアウト
      <article>
        <h1>価値観はさまざま<br>コミュニケーションは1つだけ？</h1>
          <p>
            人は誰でも、自分なりの「正しいコミュニケーションの型」を持っています。
            ただしそれは
            チームや相手が変われば正解ではなくなることがあります。
            
            Teamyが重視するのは「相対性」です。
          </p>
        <img src="{% static 'imgs/shakehands.png' %}" alt="shakehands">  
      </article>

      <article>
        <h1>違いを知ると<br>あなたの言動が変わるかも</h1>
          <p>
            自分の価値観と、相手の価値観
            その差はどれくらいあるのか

            それによって「そのままでいい」「少し調整する」「意識的に変える」など
            あなたの行動指針を、Teamyがアドバイスします。
          </p>
        <img src="{% static 'imgs/network.png' %}" alt="network">  
      </article>
      {% endcomment %}
     </section>

    <!-- ======== はじめる ボタン ======== -->
    <!-- ログイン判定 -->
    <a href="#">はじめる</a>
    <!-- url signup_owner -->

    <!-- ======== アプリ概要 ======== -->
    <section>
      <article>
        <img src="{% static 'imgs/icon_Q&A.png' %}" alt="Q&A">  
          <h2>Question</h2>
            <p>
              質問に答えると
              あなたやチームの価値観を
              診断します
            </p>
      </article>

      <article>
        <img src="{% static 'imgs/icon_graph.png' %}" alt="graph">  
          <h2>Analysis</h2>
            <p>
              両者の位置関係を可視化し
              最適なコミュニケーションを
              アドバイス
            </p>
      </article>

      <article>
        <img src="{% static 'imgs/icon_action.png' %}" alt="action">  
          <h2>Action</h2>
            <p>
              チームが変わると
              同じあなたでも立ち位置は変わる
              状況ごとの最適解を
            </p>
      </article>
    </section>

  </main>
{% endblock %}