{% load static %}
<link rel="stylesheet" href="{% static 'dist/tailwind.css' %}">

<div class="w-full max-w-[840px] mx-auto bg-white p-8 relative">

  <!-- ======== 閉じるボタン ======== -->
  <button type="button"
    class="absolute top-4 right-4 text-gray-400 text-4xl hover:text-gray-600">
    ×
  </button>

  <!-- ======== 全体レイアウト ======== -->
  <div class="grid grid-cols-[auto_1fr_auto] items-center gap-12">

    <!-- ======== 左：戻るボタン ======== -->
    <button
      type="button"
      class="invisible btn-prev w-12 h-12 font-bold text-xl rounded-full
             bg-teamy-navy text-white
             flex items-center justify-center shadow-md hover:-translate-x-1 transition">
      ←
    </button>

    <!-- ======== 中央：テキスト＋画像 ======== -->
    <!-- 見出し -->
    <div>
      <h1 class="text-xl font-semibold py-4">
        まずは、スペースと<br>オーナーのアカウントを作りましょう
      </h1>

      <!-- 説明文 -->
      <p class="py-4">
        <span class="font-bold">スペース</span>は、チームやメンバーが所属する場所です。<br>
        <span class="underline">会社や組織ごと</span>に作成します。<br><br>
        <span class="font-bold">オーナー</span>は、
        <span class="underline">スペース全体の管理者</span>です。<br>
        スペースの自体の編集操作を行えます。
      </p>

      <!-- 画像 -->
      <img
        src="{% static 'imgs/discription_spaces.svg' %}"
        alt="growth"
        class="w-full py-6">

      <div class="flex justify-center mt-10">
        <div class="relative flex items-center w-48">
          <div class="absolute inset-x-0 top-1/2 h-[1px] bg-teamy-gray -translate-y-1/2"></div>
            <div class="relative z-10 flex items-center justify-center w-9 h-9 rounded-full
                        bg-teamy-navy text-white text-md font-bold">1</div>
            <div class="relative z-10 ml-auto w-3 h-3 rounded-full bg-teamy-gray"></div>
            <div class="relative z-10 ml-auto w-3 h-3 rounded-full bg-teamy-gray"></div>
            <div class="relative z-10 ml-auto w-3 h-3 rounded-full bg-teamy-gray"></div>
        </div>
      </div>
    </div>

    <!-- ======== 右：次へボタン ======== -->
    <button
      type="button"
      class="btn-next w-12 h-12 font-bold text-xl rounded-full
             bg-teamy-navy text-white
             flex items-center justify-center shadow-md hover:translate-x-1 transition">
      →
    </button>

  </div>
</div>
